/* 
	Blue Dream
	Written by Teylor Feliz  http://www.admixweb.com
*/
table.captiontable {
	min-width: 1200px;
	width: 100%;
	border-collapse: collapse;
}

table.bluedream {
	background: #D3E4E5;
	border: 1px solid gray;
	border-collapse: collapse;
	color: #fff;
	font: normal 12px verdana, arial, helvetica, sans-serif;
}

table.bluedream caption {
	border: 1px solid #5C443A;
	color: #5C443A;
	font-weight: bold;
	letter-spacing: 20px;
	padding: 6px 4px 8px 0px;
	text-align: center;
	text-transform: uppercase;
}

table.bluedream td,th {
	color: #363636;
	padding: .4em;
}


table.bluedream tr {
	border: 1px dotted gray;
}

table.bluedream thead th,tfoot th {
	background: #5C443A;
	color: #FFFFFF;
	padding: 3px 10px 3px 10px;
	text-align: left;
	text-transform: uppercase;
}

table.bluedream tbody td a {
	color: #363636;
	text-decoration: none;
}

table.bluedream tbody td a:visited {
	color: gray;
	text-decoration: line-through;
}

table.bluedream tbody td a:hover {
	text-decoration: underline;
}

table.bluedream tbody th a {
	color: #363636;
	font-weight: normal;
	text-decoration: none;
}

table.bluedream tbody th a:hover {
	color: #363636;
}

table.bluedream tbody td+td+td+td a {
	background-image: url('bullet_blue.png');
	background-position: left center;
	background-repeat: no-repeat;
	color: #03476F;
	padding-left: 15px;
}

table.bluedream tbody td+td+td+td a:visited {
	background-image: url('bullet_white.png');
	background-position: left center;
	background-repeat: no-repeat;
}

table.bluedream tbody th,tbody td {
	text-align: left;
	vertical-align: top;
}

table.bluedream tfoot td {
	background: #5C443A;
	color: #FFFFFF;
	padding-top: 3px;
}

.odd {
	background: #fff;
}

table.bluedream tbody tr:hover {
	background: #99BCBF;
	border: 1px solid #03476F;
	color: #000000;
}


